<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="welcome">
        <h4>
            Hi <%=username%>, you are welcome here
        </h4>
        <a href="/logout">Logout</a>
    </div>
</body>

</html>